robotframework==6.1
robotframework-httplibrary==0.4.2
robotframework-seleniumlibrary==6.1.2 
robotframework-datadriver[XLS]==1.7.0
robotframework-exceldatadriver==1.2.2
robotframework-jsonlibrary==0.5
webdrivermanager
#openpyxl==3.0.5
